/*{
    background-color: brown;
    font-family: Arial, Verdana, sans-serif;
}*/

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.input {
    text-align: center;
    background-color: cadetblue;
    color: black;
    font-size: 20px;
    margin-top: 1%;
    justify-content: center;
    border-radius: 25px;
    width: 400px;
    height: 50px;
    border-width: 5px;
    border-color: yellowgreen;
}

.input:focus {
    text-align: center;
    color: blanchedalmond;
    font-size: 20px;
    margin-top: 1%;
    justify-content: center;
    border-radius: 25px;
    width: 400px;
    height: 50px;
    border-width: 5px;
    border-color: blue;
}

.button-buscar {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 1%;
    padding: auto;
    height: 50px;
    width: 100px;
    background-color: rebeccapurple;
    justify-content: center;
    border-radius: 10px;
    border-width: 5px;
    border-color: yellowgreen;
}

.button-buscar:hover {
     color: white;
    font-size: 20px;
    text-align: center;
    margin: 1%;
    padding: auto;
    background-color: blue;
    justify-content: center;
    border-radius: 10px;
    border-width: 5px;
    border-color: yellowgreen;
    cursor: pointer;
}

.button-apartar {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 1%;
    padding: auto;
    background-color: blueviolet;
}

.button-category {
    color: white;
    padding: auto;
    height: 100px;
    width: 200px;
    margin: 2%;
    font-size: large;
    text-align: top center;
    background-color: rebeccapurple;
    border-radius: 25px;
    border-width: 5px;
    border-color: yellowgreen;
}

.button-category:hover {
    color: white;
    padding: auto;
    font-size: large;
    text-align: center;
    margin: 1%;
    background-color: blueviolet;
    border-radius: 25px;
    border-width: 5px;
    border-color: yellowgreen;
    cursor: pointer;
}

.nav {
    text-align: center;
    margin-bottom:2%;
    margin-top: 2%;
}

.nav ul li{
    display: inline;
    margin: 0;

}

.nav ul li a {
    display: inline;
    margin: 0;
}

.nav ul li a figure {
    display: inline;
    margin: 0;
}

.nav ul li a figure img figcaption {
    display: inline;
    margin: 0;
}

.nav-2 {
    text-align: right;
    margin-top: 2%;
    margin-top: 2%;
}

.image-gatos {
    background-image: url('media/logotipo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin-top: 5%;
    background-position: center;
    border-radius: 25px;
}


.image-peces {
    background-image: url('media/logotipo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin-top: 5%;
    background-position: center;
    border-radius: 25px;
}

.image-perros {
    background-image: url('media/logotipo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-position: center;
    border-radius: 25px;
}

.image-home {
    background-image: url('media/logotipo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-position: center;
    border-radius: 25px;
}

h1 {
    width: 0 50%;
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 5%;
    font-size: 35px;
}

.h2 {
    margin-top: 3%;
    color: blue;
    text-align: center;
    font-size: 25px;
}


h2 {
    margin-top: 3%;
    color: black;
    text-align: center;
    font-size: 25px;
}

.p {
    margin-top: 3%;
    color: blue;
    font-size: 20px;
    text-align: center;
}

.footer {
    width: 0 50%;
    background-color: burlywood;
    margin-top: 3%;
    color: black;
    text-align: center;
}

#img {
    height: 25vh;
    width: 25%;
    margin: 1%;
    border-radius: 25px;
    border-color: blueviolet;
    position: inline-block;
}

.image-header {
  /* Le dices que tenga al menos un 100% del alto de la ventana */
  width: 100%;
  min-height: 70vh; 
  /* "vh" significa "viewport height", es decir, el alto de la ventana de visualización */
  background-image: url('media/paisaje.jpg');
  background-size: cover;
  background-position: center; /* Centra la imagen para que se vea mejor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.image-body {
    /* Le dices que tenga al menos un 100% del alto de la ventana */
  min-height: 100vh; 
  /* "vh" significa "viewport height", es decir, el alto de la ventana de visualización */
  background-image: url('media/paisaje.jpg');
  background-size: cover;
  background-position: center; /* Centra la imagen para que se vea mejor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}